body {background-color: aqua;}
h1  
 {
    border: 2px solid black;
    color: blue;
}

h2{
    color: black;
    border: 3px solid red;
}

img{
    width: 100%;
}

p{
    font-size: 30px;
}

h3{
    border: 4px solid blue;
    color: red;

}

#unique{
    color:darkviolet;
    text-align: center;
}

.classnames{
 color: crimson;
 text-align: center;
}