body {background-color: aqua;}



/* 
h1  
 {
    border: 2px solid black;
    color: blue;
} */


h1  
 {
    margin: 40px;
    border: 2px solid black;
    /* simple way of adding color */

    /* color: blue; */

    /* RGB way of adding color */

    /* color: rgb(0, 0, 255); */

     /* RGBA way of adding color */

    /* color: rgba(0, 0, 255, 1); */

     /* RGB way of adding color */

 /* HEX way of adding color */

    /* color: #0000ff; */

     /* 3 DIGIT HEX way of adding color */

    /* color: #00f; */

     /* HSL way of adding color */


    color: hsl(240, 100%, 50%);
}

h2{
    color: black;
    border: 3px solid red;
}

img{
    width: 100%;
}

p{
    font-size: 30px;
}

h3{
    border: 4px solid blue;
    color: red;

}

#unique{
    color:darkviolet;
    text-align: center;
}

.classnames{
 color: crimson;
 text-align: center;
}