div {
    width: 300px;
    height: 100px;
    background-color: yellow;
    border: 1px solid black;
    transform: translate(50px,100px);
    /* transform: scale(2,3); */
  }
  
div#myDiv {
    transform: rotate(20deg);
    /* transform: skew(20deg,10deg); */
  }

  /* matrix method */
  /* div#myDiv1 {
    transform: matrix(1, -0.3, 0, 1, 0, 0);
  }
  
  div#myDiv2 {
    transform: matrix(1, 0, 0.5, 1, 150, 0);
  } */