table {
    /* border-collapse: collapse; */
    width: 100%;
    border: 3px solid blue;
  }
  th, td {
    text-align: left;
    padding: 8px;
  }
  th {
    background-color: #04AA6D;
    color: white;
  }